body {
    height: 100%;
    color: #333333;
    background-color: #e2e2e2;
    font-family: 微软雅黑, Microsoft YaHei;
}

a img.nav-logo {
    display: inline-block;
    margin-top: -14px;
    margin-right: 5px;
    width: auto;
    max-height: 50px;
}

.content {
    box-shadow: 0 0 10px #888888;
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width:767px) {
    .table-condensed-xs>tbody>tr>td,
    .table-condensed-xs>tbody>tr>th,
    .table-condensed-xs>tfoot>tr>td,
    .table-condensed-xs>tfoot>tr>th,
    .table-condensed-xs>thead>tr>td,
    .table-condensed-xs>thead>tr>th {
        padding: 5px
    }
    .margin-left-11 {
        margin-left: 2%;
        margin-right: 2%;
    }
}

@media screen and (min-width:768px) {
    body {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .content {
        padding-top: 20px;
        padding-right: 4%;
        width: 80%;
    }
    .margin-left-11 {
        margin-left: 11%;
    }
    nav {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    #desc-navbar-collapse li:not(:first-child) {
        margin-left: 2px;
    }
}

.navbar-brand,
#desc-navbar-collapse ul li a {
    color: #1d50a2;
}

#desc-navbar-collapse ul li a:hover {
    color: #000;
}

.portrait {
    margin-top: 10px;
    width: 174px;
    height: 231px;
}

.name,
.divider {
    margin-top: 15px;
    color: #1d50a2;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
}

.introduce {
    margin-left: 30px;
    margin-top: 10px;
    background: #f5f5f5 no-repeat url(../image/personal_introduce.jpg) bottom right;
}

.divider-solid {
    width: 79%;
    font-size: 18px;
    color: #1d50a2;
    font-weight: bold;
    border-bottom: 2px solid #eee;
}

.divider-dot {
    padding-bottom: 15px;
    border-bottom: 1px dotted #eee;
}

li.title {
    margin-top: 35px;
    color: #1d50a2;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    list-style-image: url(../image/li_circle.png);
}

ul li {
    list-style-type: none;
    margin-left: -25px;
    line-height: 2;
}

ol li {
    margin-left: -10px;
    line-height: 2;
}

ol li > span:first-child {
    font-weight: bold;
}

.footer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
    color: #5F5F5F;
    font-size: 12px;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
